<!--Principal -->

<div data-role="page" id="principal">
  <div data-role="header" data-position="fixed" >
    <h1>Juana Leclerc</h1>
  </div>
  <div role="main" class="ui-content" >
    <h2 align="right" ><a id="txtIngresar" href="#login">Ingresar</a></h2>
    <h2 align="right" ><a id="txtIngresar" href="#login" hidden="false">cerrar</a></h2>

    <ul data-role="listview">
          <li><a href="#splash" class="ui-btn ui-icon-calendar ui-btn-icon-right">Eventos</a></li>
          <li><a href="#historia"  class="ui-btn ui-icon-star ui-btn-icon-right">Historias</a></li>
        </ul>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
    <h5 align="center">Derechos reservados</h5>
  </div>
</div>
</div>
<!--Administrador  -->
<div data-role="page" id="adminMain">
  <div data-role="header" data-position="fixed" >
    <h1>Demo</h1>
  </div>
  <h2 align="center" >Bienvenido <span id="txtUsuario">hey</span></h2>
  <div role="main" class="ui-content" >
    <h2 align="center" >Juana declerc API</h2>
    <button id="btnCerrar"type="button" name="button">Cerrar Session</button>
    <ul data-role="listview">
          <li><a href="#splash" class="ui-btn ui-icon-calendar ui-btn-icon-right">Eventos</a></li>
          <li><a href="#historia"  class="ui-btn ui-icon-star ui-btn-icon-right">Historias</a></li>
          <li><a href="#usuario"  class="ui-btn ui-icon-star ui-btn-icon-right">Crear Usuario</a></li>
          <li><a href="#">List Item</a></li>
        </ul>

  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
    <h5 align="center">Derechos reservados</h5>
  </div>
</div>
</div>


<!--Eventos -->
<div data-role="page" id="splash">
  <div data-role="header" data-position="fixed" >
    <h1>Demo</h1>
  </div>
  <div role="main" class="ui-content" >
    <h2>Listar Eventos</h2>
  <ul id="splash_list" data-role="listview" data-inset="true">  </ul>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li>
<a href="#main">Home</a>
        </li>
        <li>
<a href="#itemCreate">Nuevo</a>
        </li>
      </ul>
  </div>
  </div>
</div>

<!--Nuevo evento-->
<div data-role="page" id="itemCreate">
  <div data-role="header" data-position="fixed" >
    <h1>Demo</h1>
  </div>
  <div role="main" class="ui-content" >
    <h2 align="center" >Bienvenido <span id="txtUsuarioI">hey</span></h2>
    <h2>Crear Evento</h2>
<form id="Evento-create-form" data-position="fixed">
  <div data-role="navbar">
  <label for="Evento-txtNombre">Evento:</label>
  <input type="text" id="Evento-txtNombre"
  placeholder="nombre evento..." name="txtNombre" />
  <label for="Evento-estado">Estado</label>
  <select id="Evento-cmbEstado" name="cmbEstado">
<option value="ACT">Activo</option>
<option value="FIN">Finalizado</option>
  </select>
  <label for="Evento-Fecha">Fecha:</label>
  <input type="date" id="Evento-Fecha" name="fecha" value="">
  <label for="Evento-create-Hora">Hora:</label>
  <input type="time" id="Evento-Hora" name="hora" value="">
  <label for="Evento-Lugar">Lugar:</label>
  <input type="text" id="Evento-Lugar"
  placeholder="Lugar evento..." name="Lugar" />
  <button id="Evento-send" type="button" >Guardar</button>
</div>
</form>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li>
<a href="#main">Home</a>
        </li>
        <li>
<a href="#splash">Eventos</a>
        </li>
      </ul>
  </div>
  </div>
</div>
<!--Nuevo Usuario-->
<div data-role="page" id="usuario">
  <div data-role="header" data-position="fixed" >
    <h1>Crear Nuevo usuario </h1>
  </div>
  <div role="main" class="ui-content" >
    <h2 align="center" > prueba </h2>

    <form id="usuario-form" data-position="fixed">
      <label for="usuario-txtCorreo">Correo electronico</label>
      <input type="email" id="usuario-txtCorreo" name="txtCorreo" value="" placeholder="Ingrese Correo de Usuario">
      <label for="usuario-txtPass">Contrase単a</label>
      <input type="password" id="usuario-txtPass" name="txtPass" value="" placeholder="Ingrese Contrase単a">
      <button type="button" id="usuario-send" >Enviar</button>
    </form>

  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
      <li>
<a href="#main">Home</a>
      </li>


      </ul>
  </div>
</div>
</div>

<div data-role="page" id="login">
  <div data-role="header" data-position="fixed" >
    <h1>Ingresar</h1>
  </div>
  <div role="main" class="ui-content" >

    <form id="log-form" data-position="fixed">
      <label for="log-txtCorreo">Correo electronico</label>
      <input type="email" id="log-txtCorreo" name="txtCorreo" value="" placeholder="Ingrese Correo de Usuario">
      <label for="usuario-txtPass">Contrase単a</label>
      <input type="password" id="log-txtPass" name="txtPass" value="" placeholder="Ingrese Contrase単a">
      <button type="button" id="log-send" >Enviar</button>
    </form>

  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
      <li>
<a href="#main">Home</a>
      </li>
      </ul>
  </div>
</div>
</div>
